<!-- Añadimos la CDN de FontAwesome (versión 5.15.4) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<section
  id="cursos"
  class="text-white dark:bg-gray-800 py-12 md:py-24 lg:py-32"
>
  <!-- Cursos de Programación -->
  <div class="flex flex-col items-center p-6 space-y-8">
    <h2 class="gradient-text text-3xl font-bold text-center">
      Elige el curso más demandado en cada ruta de desarrollo
    </h2>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
      <!-- Curso de Frontend -->
      <div
        class="rounded-lg bg-card text-card-foreground shadow-sm border p-6"
        data-v0-t="card"
      >
        <div class="flex flex-col p-6 space-y-2">
          <h3
            class="flex items-center text-xl md:text-xl lg:text-3xl font-semibold"
          >
            Curso de Frontend <i class="fas fa-laptop-code text-blue-500"></i>
          </h3>
          <p class="text-sm text-muted-foreground">
            Aprende HTML, CSS, JavaScript y frameworks modernos como React y
            Bootstrap para crear sitios web interactivos y modernos.
          </p>
          <div class="text-sm text-gray-500">Duración:</div>
          <div class="text-2xl text-gray-500">10 semanas</div>
          <div class="text-sm text-green-500">Precio:</div>
          <div class="text-3xl font-bold text-green-500">$500</div>
          <a
            href="https://wa.me/+51974361728?text=Estoy%20interesado%20en%20el%20Curso%20de%20Frontend.%20Por%20favor%20proporciónenme%20más%20información."
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-green-500 hover:bg-green-600 text-white h-10 px-4 py-2 w-full mt-4"
          >
            Contactar por WhatsApp
          </a>
        </div>
        <div class="p-6 space-y-2 text-sm">
          <ul class="space-y-1">
            <li><i class="fas fa-check text-green-500"></i> HTML5 y CSS3</li>
            <li><i class="fas fa-check text-green-500"></i> JavaScript</li>
            <li><i class="fas fa-check text-green-500"></i> React</li>
            <li><i class="fas fa-check text-green-500"></i> Bootstrap</li>
            <li>
              <i class="fas fa-check text-green-500"></i> Proyecto final de
              integración
            </li>
          </ul>
        </div>
      </div>

      <!-- Curso de Backend -->
      <div
        class="rounded-lg bg-card text-card-foreground shadow-sm border p-6"
        data-v0-t="card"
      >
        <div class="flex flex-col p-6 space-y-2">
          <h3
            class="flex items-center text-xl md:text-xl lg:text-3xl font-semibold"
          >
            Curso de Backend <i class="fas fa-server text-yellow-500"></i>
          </h3>
          <p class="text-sm text-muted-foreground">
            Domina las tecnologías de servidor como Flask, un microframework de
            Python ideal para crear APIs RESTful y aplicaciones backend
            escalables.
          </p>
          <div class="text-sm text-gray-500">Duración:</div>
          <div class="text-2xl text-gray-500">12 semanas</div>
          <div class="text-sm text-green-500">Precio:</div>
          <div class="text-3xl font-bold text-green-500">$600</div>
          <a
            href="https://wa.me/+51974361728?text=Estoy%20interesado%20en%20el%20Curso%20de%20Backend.%20Por%20favor%20proporciónenme%20más%20información."
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-green-500 hover:bg-green-600 text-white h-10 px-4 py-2 w-full mt-4"
          >
            Contactar por WhatsApp
          </a>
        </div>
        <div class="p-6 space-y-2 text-sm">
          <ul class="space-y-1">
            <li><i class="fas fa-check text-green-500"></i> Python y Flask</li>
            <li><i class="fas fa-check text-green-500"></i> RESTful APIs</li>
            <li>
              <i class="fas fa-check text-green-500"></i> Manejo avanzado de
              bases de datos con SQLAlchemy
            </li>
            <li>
              <i class="fas fa-check text-green-500"></i> Autenticación y
              seguridad en aplicaciones web
            </li>
            <li>
              <i class="fas fa-check text-green-500"></i> Despliegue en
              plataformas como Heroku
            </li>
            <li>
              <i class="fas fa-check text-green-500"></i> Proyecto final de
              integración
            </li>
          </ul>
        </div>
      </div>

      <!-- Curso de Fullstack -->
      <div
        class="rounded-lg bg-card text-card-foreground shadow-sm border p-6"
        data-v0-t="card"
      >
        <div class="flex flex-col p-6 space-y-2">
          <h3
            class="flex items-center text-xl md:text-xl lg:text-3xl font-semibold"
          >
            Curso de Fullstack <i class="fas fa-globe text-green-500"></i>
          </h3>
          <p class="text-sm text-muted-foreground">
            Conviértete en un desarrollador fullstack dominando tanto frontend
            como backend con tecnologías como React, Node.js, Ruby on Rails,
            Flask, y bases de datos como PostgreSQL.
          </p>
          <div class="text-sm text-gray-500">Duración:</div>
          <div class="text-2xl text-gray-500">20 semanas</div>
          <div class="text-sm text-green-500">Precio:</div>
          <div class="text-3xl font-bold text-green-500">$1000</div>
          <a
            href="https://wa.me/+51974361728?text=Estoy%20interesado%20en%20el%20Curso%20de%20Fullstack.%20Por%20favor%20proporciónenme%20más%20información."
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-green-500 hover:bg-green-600 text-white h-10 px-4 py-2 w-full mt-4"
          >
            Contactar por WhatsApp
          </a>
        </div>
        <div class="p-6 space-y-2 text-sm">
          <ul class="space-y-1">
            <li><i class="fas fa-check text-green-500"></i> HTML5 y CSS3</li>
            <li>
              <i class="fas fa-check text-green-500"></i> JavaScript y React
            </li>
            <li>
              <i class="fas fa-check text-green-500"></i> Ruby on Rails, Node.js
              y Flask
            </li>
            <li><i class="fas fa-check text-green-500"></i> PostgreSQL</li>
            <li>
              <i class="fas fa-check text-green-500"></i> Seguridad y
              autenticación
            </li>
            <li>
              <i class="fas fa-check text-green-500"></i> Proyecto final de
              integración
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  id="cursos"
  class="text-white dark:bg-gray-800 py-12 md:py-24 lg:py-32"
>
  <!-- Cursos de Programación -->
  <div class="flex flex-col items-center p-6 space-y-8">
    <h2 class="gradient-text text-3xl font-bold text-center">
      Elige el curso más demandado en cada ruta de desarrollo
    </h2>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
      <!-- Curso de Frontend -->
      <div
        class="rounded-lg bg-card text-card-foreground shadow-sm border p-6"
        data-v0-t="card"
      >
        <div class="flex flex-col p-6 space-y-2">
          <h3
            class="flex items-center text-xl md:text-xl lg:text-3xl font-semibold"
          >
            Curso de Ruby on Rails <i class="fas fa-gem text-red-500"></i>
          </h3>
          <p class="text-sm text-muted-foreground">
            Aprende a desarrollar aplicaciones web robustas y escalables con
            Ruby on Rails, un framework poderoso y ampliamente utilizado en la
            industria.
          </p>
          <div class="text-sm text-gray-500">Duración:</div>
          <div class="text-2xl text-gray-500">12 semanas</div>
          <div class="text-sm text-green-500">Precio:</div>
          <div class="text-3xl font-bold text-green-500">$600</div>
          <a
            href="https://wa.me/+51974361728?text=Estoy%20interesado%20en%20el%20Curso%20de%20Ruby%20on%20Rails.%20Por%20favor%20proporciónenme%20más%20información."
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-green-500 hover:bg-green-600 text-white h-10 px-4 py-2 w-full mt-4"
          >
            Contactar por WhatsApp
          </a>
        </div>
        <div class="p-6 space-y-2 text-sm">
          <ul class="space-y-1">
            <li><i class="fas fa-check text-green-500"></i> Ruby</li>
            <li><i class="fas fa-check text-green-500"></i> Rails</li>
            <li>
              <i class="fas fa-check text-green-500"></i> MVC Architecture
            </li>
            <li>
              <i class="fas fa-check text-green-500"></i> Bases de Datos con
              Active Record
            </li>
            <li>
              <i class="fas fa-check text-green-500"></i> Despliegue en Heroku
            </li>
            <li>
              <i class="fas fa-check text-green-500"></i> Proyecto final de
              integración
            </li>
          </ul>
        </div>
      </div>

      <div
        class="rounded-lg bg-card text-card-foreground shadow-sm border p-6"
        data-v0-t="card"
      >
        <div class="flex flex-col p-6 space-y-2">
          <h3
            class="flex items-center text-xl md:text-xl lg:text-3xl font-semibold"
          >
            Curso de Flask <i class="fas fa-flask text-green-500"></i>
          </h3>
          <p class="text-sm text-muted-foreground">
            Aprende a desarrollar aplicaciones web con Flask, un microframework
            de Python que es ligero y fácil de aprender, ideal para proyectos
            rápidos y pequeños así como para APIs RESTful.
          </p>
          <div class="text-sm text-gray-500">Duración:</div>
          <div class="text-2xl text-gray-500">10 semanas</div>
          <div class="text-sm text-green-500">Precio:</div>
          <div class="text-3xl font-bold text-green-500">$500</div>
          <a
            href="https://wa.me/+51974361728?text=Estoy%20interesado%20en%20el%20Curso%20de%20Flask.%20Por%20favor%20proporciónenme%20más%20información."
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-green-500 hover:bg-green-600 text-white h-10 px-4 py-2 w-full mt-4"
          >
            Contactar por WhatsApp
          </a>
        </div>
        <div class="p-6 space-y-2 text-sm">
          <ul class="space-y-1">
            <li><i class="fas fa-check text-green-500"></i> Python y Flask</li>
            <li>
              <i class="fas fa-check text-green-500"></i> Templates Jinja2
            </li>
            <li><i class="fas fa-check text-green-500"></i> Manejo de APIs</li>
            <li>
              <i class="fas fa-check text-green-500"></i> Bases de Datos con
              SQLAlchemy
            </li>
            <li>
              <i class="fas fa-check text-green-500"></i> Despliegue en Heroku
            </li>
            <li>
              <i class="fas fa-check text-green-500"></i> Proyecto final de
              integración
            </li>
          </ul>
        </div>
      </div>
      <!-- Curso de Creación de Juegos con Python y Pygame -->
      <div
        class="rounded-lg bg-card text-card-foreground shadow-sm border p-6"
        data-v0-t="card"
      >
        <div class="flex flex-col p-6 space-y-2">
          <div class="max-w-xl mx-auto">
            <!-- Contenedor padre con ancho máximo y centrado -->
            <h3
              class="flex items-center text-xl md:text-xl lg:text-3xl font-semibold"
            >
              <!-- Flexbox para alinear elementos -->
              Creación de Juegos con Python y Pygame
              <i class="fas fa-gamepad text-green-500 ml-2"></i>
              <!-- Margen a la izquierda del ícono -->
            </h3>
          </div>

          <p class="text-sm text-muted-foreground">
            Este curso enseña a los niños a programar juegos utilizando Python y
            Pygame. Aprenderán los conceptos básicos de programación, como
            variables, bucles y condicionales, mientras desarrollan sus propios
            juegos interactivos.
          </p>
          <div class="text-sm text-gray-500">Edades recomendadas:</div>
          <div class="text-2xl text-gray-500">10-15 años</div>
          <div class="text-sm text-green-500">Duración:</div>
          <div class="text-3xl font-bold text-green-500">
            8 semanas (16 sesiones)
          </div>
          <div class="text-sm text-gray-500">Tecnologías utilizadas:</div>
          <ul class="text-sm text-gray-500 list-disc pl-6">
            <li>Python 3.x</li>
            <li>Pygame</li>
            <li>
              Plataforma de videoconferencia en vivo (Zoom, Google Meet, etc.)
            </li>
            <li>Entorno de desarrollo integrado (IDE) para Python</li>
          </ul>
          <a
            href="https://wa.me/+51974361728?text=Estoy%20interesado%20en%20el%20Curso%20de%20Creación%20de%20Juegos%20con%20Python%20y%20Pygame.%20Por%20favor%20proporciónenme%20más%20información."
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-green-500 hover:bg-green-600 text-white h-10 px-4 py-2 w-full mt-4"
          >
            Contactar por WhatsApp
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--curso de flask -->
