
<!-- Añadimos la CDN de FontAwesome (versión 5.15.4) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<section
  id="cursos"
  class="text-white dark:bg-gray-800 py-12 md:py-24 lg:py-32"
>
  <!-- Cursos de Programación -->
  <div class="flex flex-col items-center p-6 space-y-8">
    <h2 class="gradient-text text-3xl font-bold text-center">
      ¡Elige tu camino hacia el éxito con nuestros cursos más demandados!
    </h2>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
      <!-- Curso de Frontend -->
      <div
        class="rounded-lg bg-card text-card-foreground shadow-sm border p-6"
        data-v0-t="card"
      >
        <div class="flex flex-col p-6 space-y-2">
          <img
            src="{{ url_for('static', filename='img/cursos/1_frontend.png') }}"
            alt="frontend compilandocode"
            class="w-full h-48 object-cover rounded-md mb-4"
            width="300"
            height="200"
            style="aspect-ratio: 300 / 200; object-fit: cover;"
          />
          <h3
            class="flex items-center text-xl md:text-xl lg:text-3xl font-semibold"
          >
            Curso de Frontend <i class="fas fa-laptop-code text-blue-500"></i>
          </h3>
          <p class="text-sm text-muted-foreground">
            Aprende HTML, CSS, JavaScript y frameworks modernos como React y
            Bootstrap para crear sitios web interactivos y modernos.
          </p>
          <div class="text-sm dark-text-white">Duración:</div>
          <div class="text-2xl dark-text-white">10 semanas  </div>
          <p> <sapn class="text-blue font-light text-xs "> 2 veces por semana de 2 horas cada clase </span> </p>
          <div class="text-sm dark-text-white">Precio:</div>
          <div class="text-3xl font-bold dark-text-white">
            <p class="line-through">$500 (USD)</p> 
            <p class="text-green-500"> $250 (USD)</p>
          </div>
          <div class="text-sm dark-text-white">
            <p class="line-through">S/. 1850 (PEN)</p> 
            <p class="text-green-500"> S/. 925 (PEN)</p> 
            <p class="line-through">$400,000 (CLP)</p> 
            <p class="text-green-500"> $200,000 (CLP)</p>
          </div>
          <div class="text-sm text-green-500">Descuento por verano 2025</div>
          <a
            href="https://wa.me/+51974361728?text=Estoy%20interesado%20en%20el%20Curso%20de%20Frontend.%20Por%20favor%20proporciónenme%20más%20información."
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-green-500 hover:bg-green-600 text-white h-10 px-4 py-2 w-full mt-4"
          >
            Contactar por WhatsApp
          </a>
        </div>
        <div class="p-6 space-y-2 text-sm">
          <ul class="space-y-1">
            <li><i class="fas fa-check dark-text-white"></i> HTML5 y CSS3</li>
            <li><i class="fas fa-check dark-text-white"></i> JavaScript</li>
            <li><i class="fas fa-check dark-text-white"></i> React</li>
            <li><i class="fas fa-check dark-text-white"></i> Bootstrap</li>
            <li>
              <i class="fas fa-check dark-text-white"></i> Proyecto final de
              integración
            </li>
          </ul>
        </div>
      </div>

      <!-- Curso de Backend -->
      <div
        class="rounded-lg bg-card text-card-foreground shadow-sm border p-6"
        data-v0-t="card"
      >
        <div class="flex flex-col p-6 space-y-2">
          <img
            src="{{ url_for('static', filename='img/cursos/2_backend.png') }}"
            alt="backend compilandocode"
            class="w-full h-48 object-cover rounded-md mb-4"
            width="300"
            height="200"
            style="aspect-ratio: 300 / 200; object-fit: cover;"
          />
          <h3
            class="flex items-center text-xl md:text-xl lg:text-3xl font-semibold"
          >
            Curso de Backend <i class="fas fa-server text-yellow-500"></i>
          </h3>
          <p class="text-sm text-muted-foreground">
            Domina las tecnologías de servidor como Flask, un microframework de
            Python ideal para crear APIs RESTful y aplicaciones backend
            escalables.
          </p>
          <div class="text-sm dark-text-white">Duración:</div>
          <div class="text-2xl dark-text-white">12 semanas  </div>
          <p> <sapn class="text-blue font-light text-xs "> 2 veces por semana de 2 horas cada clase </span> </p>
          <div class="text-sm dark-text-white">Precio:</div>
          <div class="text-3xl font-bold dark-text-white">
            <p class="line-through">$600 (USD)</p> 
            <p class="text-green-500"> $300 (USD)</p>
          </div>
          <div class="text-sm dark-text-white">
            <p class="line-through">S/. 2220 (PEN)</p> 
            <p class="text-green-500"> S/. 1110 (PEN)</p> 
            <p class="line-through">$480,000 (CLP)</p> 
            <p class="text-green-500"> $240,000 (CLP)</p>
          </div>
          <div class="text-sm text-green-500">Descuento por verano 2025</div>
          <a
            href="https://wa.me/+51974361728?text=Estoy%20interesado%20en%20el%20Curso%20de%20Backend.%20Por%20favor%20proporciónenme%20más%20información."
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-green-500 hover:bg-green-600 text-white h-10 px-4 py-2 w-full mt-4"
          >
            Contactar por WhatsApp
          </a>
        </div>
        <div class="p-6 space-y-2 text-sm">
          <ul class="space-y-1">
            <li><i class="fas fa-check dark-text-white"></i> Python y Flask</li>
            <li><i class="fas fa-check dark-text-white"></i> RESTful APIs</li>
            <li>
              <i class="fas fa-check dark-text-white"></i> Manejo avanzado de
              bases de datos con SQLAlchemy
            </li>
            <li>
              <i class="fas fa-check dark-text-white"></i> Autenticación y
              seguridad en aplicaciones web
            </li>
            <li>
              <i class="fas fa-check dark-text-white"></i> Despliegue en
              plataformas como Heroku
            </li>
            <li>
              <i class="fas fa-check dark-text-white"></i> Proyecto final de
              integración
            </li>
          </ul>
        </div>
      </div>

      <!-- Curso de Fullstack -->
      <div
        class="rounded-lg bg-card text-card-foreground shadow-sm border p-6"
        data-v0-t="card"
      >
        <div class="flex flex-col p-6 space-y-2">
          <img
            src="{{ url_for('static', filename='img/cursos/3_fullstack.png') }}"
            alt="fullstack compilandocode"
            class="w-full h-48 object-cover rounded-md mb-4"
            width="300"
            height="200"
            style="aspect-ratio: 300 / 200; object-fit: cover;"
          />
          <h3
            class="flex items-center text-xl md:text-xl lg:text-3xl font-semibold"
          >
            Curso de Fullstack <i class="fas fa-globe dark-text-white"></i>
          </h3>
          <p class="text-sm text-muted-foreground">
            Conviértete en un desarrollador fullstack dominando tanto frontend
            como backend con tecnologías como React, Node.js, Ruby on Rails,
            Flask, y bases de datos como PostgreSQL.
          </p>
          <div class="text-sm dark-text-white">Duración:</div>
          <div class="text-2xl dark-text-white">20 semanas  </div>
          <p> <sapn class="text-blue font-light text-xs "> 2 veces por semana de 2 horas cada clase </span> </p>
          <div class="text-sm dark-text-white">Precio:</div>
          <div class="text-3xl font-bold dark-text-white">
            <p class="line-through">$1000 (USD)</p> 
            <p class="text-green-500"> $500 (USD)</p>
          </div>
          <div class="text-sm dark-text-white">
            <p class="line-through">S/. 3700 (PEN)</p> 
            <p class="text-green-500"> S/. 1850 (PEN)</p> 
            <p class="line-through">$800,000 (CLP)</p> 
            <p class="text-green-500"> $400,000 (CLP)</p>
          </div>
          <div class="text-sm text-green-500">Descuento por verano 2025</div>
          <a
            href="https://wa.me/+51974361728?text=Estoy%20interesado%20en%20el%20Curso%20de%20Fullstack.%20Por%20favor%20proporciónenme%20más%20información."
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-green-500 hover:bg-green-600 text-white h-10 px-4 py-2 w-full mt-4"
          >
            Contactar por WhatsApp
          </a>
        </div>
        <div class="p-6 space-y-2 text-sm">
          <ul class="space-y-1">
            <li><i class="fas fa-check dark-text-white"></i> HTML5 y CSS3</li>
            <li>
              <i class="fas fa-check dark-text-white"></i> JavaScript y React
            </li>
            <li>
              <i class="fas fa-check dark-text-white"></i> Ruby on Rails,
              Node.js y Flask
            </li>
            <li><i class="fas fa-check dark-text-white"></i> PostgreSQL</li>
            <li>
              <i class="fas fa-check dark-text-white"></i> Seguridad y
              autenticación
            </li>
            <li>
              <i class="fas fa-check dark-text-white"></i> Proyecto final de
              integración
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  id="cursos"
  class="text-white dark:bg-gray-800 py-12 md:py-24 lg:py-32"
>
  <!-- Cursos de Programación -->
  <div class="flex flex-col items-center p-6 space-y-8">

    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
      <!-- Curso de Ruby on Rails -->
      <div
        class="rounded-lg bg-card text-card-foreground shadow-sm border p-6"
        data-v0-t="card"
      >
        <div class="flex flex-col p-6 space-y-2">
          <img
            src="{{ url_for('static', filename='img/cursos/4_ruby_on_rails.png') }}"
            alt="ruby on rails compilandocode"
            class="w-full h-48 object-cover rounded-md mb-4"
            width="300"
            height="200"
            style="aspect-ratio: 300 / 200; object-fit: cover;"
          />
          <h3
            class="flex items-center text-xl md:text-xl lg:text-3xl font-semibold"
          >
            Curso de Ruby on Rails <i class="fas fa-gem text-red-500"></i>
          </h3>
          <p class="text-sm text-muted-foreground">
            Aprende a desarrollar aplicaciones web robustas y escalables con
            Ruby on Rails, un framework poderoso y ampliamente utilizado en la
            industria.
          </p>
          <div class="text-sm dark-text-white">Duración:</div>
          <div class="text-2xl dark-text-white">12 semanas  </div>
          <p> <sapn class="text-blue font-light text-xs "> 2 veces por semana de 2 horas cada clase </span> </p>
          <div class="text-sm dark-text-white">Precio:</div>
          <div class="text-3xl font-bold dark-text-white">
            <p class="line-through">$600 (USD)</p> 
            <p class="text-green-500"> $300 (USD)</p>
          </div>
          <div class="text-sm dark-text-white">
            <p class="line-through">S/. 2220 (PEN)</p> 
            <p class="text-green-500"> S/. 1110 (PEN)</p> 
            <p class="line-through">$480,000 (CLP)</p> 
            <p class="text-green-500"> $240,000 (CLP)</p>
          </div>
          <div class="text-sm text-green-500">Descuento por verano 2025</div>
          <a
            href="https://wa.me/+51974361728?text=Estoy%20interesado%20en%20el%20Curso%20de%20Ruby%20on%20Rails.%20Por%20favor%20proporciónenme%20más%20información."
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-green-500 hover:bg-green-600 text-white h-10 px-4 py-2 w-full mt-4"
          >
            Contactar por WhatsApp
          </a>
        </div>
        <div class="p-6 space-y-2 text-sm">
          <ul class="space-y-1">
            <li><i class="fas fa-check dark-text-white"></i> Ruby</li>
            <li><i class="fas fa-check dark-text-white"></i> Rails</li>
            <li>
              <i class="fas fa-check dark-text-white"></i> MVC Architecture
            </li>
            <li>
              <i class="fas fa-check dark-text-white"></i> Bases de Datos con
              Active Record
            </li>
            <li>
              <i class="fas fa-check dark-text-white"></i> Despliegue en Heroku
            </li>
            <li>
              <i class="fas fa-check dark-text-white"></i> Proyecto final de
              integración
            </li>
          </ul>
        </div>
      </div>

      <div
        class="rounded-lg bg-card text-card-foreground shadow-sm border p-6"
        data-v0-t="card"
      >
        <div class="flex flex-col p-6 space-y-2">
          <img
            src="{{ url_for('static', filename='img/cursos/5_flask.png') }}"
            alt="curso flask compilandocode"
            class="w-full h-48 object-cover rounded-md mb-4"
            width="300"
            height="200"
            style="aspect-ratio: 300 / 200; object-fit: cover;"
          />
          <h3
            class="flex items-center text-xl md:text-xl lg:text-3xl font-semibold"
          >
            Curso de Flask <i class="fas fa-flask dark-text-white"></i>
          </h3>
          <p class="text-sm text-muted-foreground">
            Aprende a desarrollar aplicaciones web con Flask, un microframework
            de Python que es ligero y fácil de aprender, ideal para proyectos
            rápidos y pequeños así como para APIs RESTful.
          </p>
          <div class="text-sm dark-text-white">Duración:</div>
          <div class="text-2xl dark-text-white">10 semanas  </div>
          <p> <sapn class="text-blue font-light text-xs "> 2 veces por semana de 2 horas cada clase </span> </p>
          <div class="text-sm dark-text-white">Precio:</div>
          <div class="text-3xl font-bold dark-text-white">
            <p class="line-through">$500 (USD)</p> 
            <p class="text-green-500"> $250 (USD)</p>
          </div>
          <div class="text-sm dark-text-white">
            <p class="line-through">S/. 1850 (PEN)</p> 
            <p class="text-green-500"> S/. 925 (PEN)</p> 
            <p class="line-through">$400,000 (CLP)</p> 
            <p class="text-green-500"> $200,000 (CLP)</p>
          </div>
          <div class="text-sm text-green-500">Descuento por verano 2025</div>
          <a
            href="https://wa.me/+51974361728?text=Estoy%20interesado%20en%20el%20Curso%20de%20Flask.%20Por%20favor%20proporciónenme%20más%20información."
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-green-500 hover:bg-green-600 text-white h-10 px-4 py-2 w-full mt-4"
          >
            Contactar por WhatsApp
          </a>
        </div>
        <div class="p-6 space-y-2 text-sm">
          <ul class="space-y-1">
            <li><i class="fas fa-check dark-text-white"></i> Python y Flask</li>
            <li>
              <i class="fas fa-check dark-text-white"></i> Templates Jinja2
            </li>
            <li><i class="fas fa-check dark-text-white"></i> Manejo de APIs</li>
            <li>
              <i class="fas fa-check dark-text-white"></i> Bases de Datos con
              SQLAlchemy
            </li>
            <li>
              <i class="fas fa-check dark-text-white"></i> Despliegue en Heroku
            </li>
            <li>
              <i class="fas fa-check dark-text-white"></i> Proyecto final de
              integración
            </li>
          </ul>
        </div>
      </div>
      <!-- Curso de Creación de Juegos con Python y Pygame -->
      <div
        class="rounded-lg bg-card text-card-foreground shadow-sm border p-6"
        data-v0-t="card"
      >
        <div class="flex flex-col p-6 space-y-2">
          <img
            src="{{ url_for('static', filename='img/cursos/6_pygame.png') }}"
            alt="pygame compilandocode"
            class="w-full h-48 object-cover rounded-md mb-4"
            width="300"
            height="200"
            style="aspect-ratio: 300 / 200; object-fit: cover;"
          />
          <div class="max-w-xl mx-auto">
            <!-- Contenedor padre con ancho máximo y centrado -->
            <h3
              class="flex items-center text-xl md:text-xl lg:text-3xl font-semibold"
            >
              <!-- Flexbox para alinear elementos -->
              Creación de Juegos con Python y Pygame
              <i class="fas fa-gamepad dark-text-white ml-2"></i>
              <!-- Margen a la izquierda del ícono -->
            </h3>
          </div>

          <p class="text-sm text-muted-foreground">
            Este curso enseña a los niños a programar juegos utilizando Python y
            Pygame. Aprenderán los conceptos básicos de programación, como
            variables, bucles y condicionales, mientras desarrollan sus propios
            juegos interactivos.
          </p>
          <div class="text-sm dark-text-white">Edades recomendadas:</div>
          <div class="text-2xl dark-text-white">10-15 años</div>
          <div class="text-sm dark-text-white">Duración:</div>
          <div class="text-3xl font-bold dark-text-white">
            8 semanas  
            <p> <sapn class="text-blue font-light text-xs "> 2 veces por semana de 2 horas cada clase </span> 
          </div>
          <div class="text-sm dark-text-white">Tecnologías utilizadas:</div>
          <ul class="text-sm dark-text-white list-disc pl-6">
            <li class="dark-text-white">Python 3.x</li>
            <li class="dark-text-white">Pygame</li>
            <li class="dark-text-white">
              Plataforma de videoconferencia en vivo (Zoom, Google Meet, etc.)
            </li>
            <li class="dark-text-white">
              Entorno de desarrollo integrado (IDE) para Python
            </li>
          </ul>
          <a
            href="https://wa.me/+51974361728?text=Estoy%20interesado%20en%20el%20Curso%20de%20Creación%20de%20Juegos%20con%20Python%20y%20Pygame.%20Por%20favor%20proporciónenme%20más%20información."
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-green-500 hover:bg-green-600 text-white h-10 px-4 py-2 w-full mt-4"
          >
            Contactar por WhatsApp
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--curso de flask -->


