<div class="row content borders">
  <div class="col-md-6 order-md-1 order-1" id="image-container">
    <img
      src="{{url_for('static', filename='img/logo_compilando_transparente.png')}}"
      alt="Consultoría TI"
    />
  </div>
  <div class="col-md-6 order-md-2 order-2 text-justify">
    <h1 class="h4 text-justify ">
      En <span class="gradient-text fw-bold">Compilandocode</span> somos tu
      socio confiable en el mundo de la tecnología, ofreciendo una amplia gama
      de servicios de consultoría y capacitación diseñados para satisfacer las
      necesidades de profesionales, emprendedores y empresas. Desde aprender
      programación con Python hasta la transformación digital y el desarrollo de
      aplicaciones web, estamos aquí para ayudarte a alcanzar tus metas
      tecnológicas y empresariales. En nuestra plataforma, encontrarás cursos
      interactivos y prácticos impartidos por expertos en el campo, diseñados
      para proporcionarte las habilidades y el conocimiento necesarios para
      sobresalir en el mundo digital en constante evolución. Ya sea que estés
      buscando comenzar desde cero o mejorar tus habilidades existentes, estamos
      aquí para guiarte en cada paso del camino. Explora nuestros servicios y
      únete a nosotros en tu viaje hacia el éxito digital. ¡El futuro está en
      tus manos!
    </h1>
  </div>
</div>
