<div class="bg-[#1a0d6e] text-white py-12">
  <div class="container mx-auto text-center">
    <h2 class="gradient-text text-3xl font-bold text-center">
      Páginas realizadas para Clientes
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Sección 1: Para músicos -->
      <div class="bg-[#2c1f8a] p-4 rounded-md">
        <img
          src="{{ url_for('static', filename='img/musicos.png') }}"
          alt="Para músicos"
          class="w-full h-48 object-cover rounded-md mb-4"
          width="300"
          height="200"
          style="aspect-ratio: 300 / 200; object-fit: cover;"
        />
        <h2 class="text-xl font-semibold">Para músicos</h2>
      </div>

      <!-- Sección 2: Para Articulos de Limpieza -->
      <div class="bg-[#2c1f8a] p-4 rounded-md">
        <img
          src="{{ url_for('static', filename='img/limpieza.png') }}"
          alt="Para Articulos de Limpieza"
          class="w-full h-48 object-cover rounded-md mb-4"
          width="300"
          height="200"
          style="aspect-ratio: 300 / 200; object-fit: cover;"
        />
        <h2 class="text-xl font-semibold">Para Articulos de Limpieza</h2>
      </div>

      <!-- Sección 3: Para Restaurantes -->
      <div class="bg-[#2c1f8a] p-4 rounded-md">
        <img
          src="{{ url_for('static', filename='img/restaurantes.png') }}"
          alt="Para Restaurantes"
          class="w-full h-48 object-cover rounded-md mb-4"
          width="300"
          height="200"
          style="aspect-ratio: 300 / 200; object-fit: cover;"
        />
        <h2 class="text-xl font-semibold">Para Restaurantes</h2>
      </div>

      <!-- Sección 4: Para personalizar pedidos -->
      <div class="bg-[#2c1f8a] p-4 rounded-md">
        <img
          src="{{ url_for('static', filename='img/pedidos.png') }}"
          alt="Para personalizar pedidos"
          class="w-full h-48 object-cover rounded-md mb-4"
          width="300"
          height="200"
          style="aspect-ratio: 300 / 200; object-fit: cover;"
        />
        <h2 class="text-xl font-semibold">Para personalizar pedidos</h2>
      </div>

      <!-- Sección 5: Para profesionales -->
      <div class="bg-[#2c1f8a] p-4 rounded-md">
        <img
          src="{{ url_for('static', filename='img/profesionales.png') }}"
          alt="Para profesionales"
          class="w-full h-48 object-cover rounded-md mb-4"
          width="300"
          height="200"
          style="aspect-ratio: 300 / 200; object-fit: cover;"
        />
        <h2 class="text-xl font-semibold">Para profesionales</h2>
      </div>

      <!-- Sección 6: Ecommerce Compilandocode -->
      <div class="bg-[#2c1f8a] p-4 rounded-md">
        <img
          src="{{ url_for('static', filename='img/personalizados.png') }}"
          alt="Ecommerce Compilandocode"
          class="w-full h-48 object-cover rounded-md mb-4"
          width="300"
          height="200"
          style="aspect-ratio: 300 / 200; object-fit: cover;"
        />
        <h2 class="text-xl font-semibold">Para consumo de APIs</h2>
      </div>
      <!-- Sección 6: Para Ecommerce 1 -->
      <div class="bg-[#2c1f8a] p-4 rounded-md">
        <img
          src="{{ url_for('static', filename='img/mercadolibre.png') }}"
          alt="Ecommerce Compilandocode"
          class="w-full h-48 object-cover rounded-md mb-4"
          width="300"
          height="200"
          style="aspect-ratio: 300 / 200; object-fit: cover;"
        />
        <h2 class="text-xl font-semibold">Para Ecommerce</h2>
      </div>
      <!-- Sección 6: Para Ecommerce 2 -->
      <div class="bg-[#2c1f8a] p-4 rounded-md">
        <img
          src="{{ url_for('static', filename='img/aliexpres.png') }}"
          alt="Ecommerce Compilandocode"
          class="w-full h-48 object-cover rounded-md mb-4"
          width="300"
          height="200"
          style="aspect-ratio: 300 / 200; object-fit: cover;"
        />
        <h2 class="text-xl font-semibold">Para Ecommerce</h2>
      </div>
      <div class="bg-[#2c1f8a] p-4 rounded-md">
        <img
          src="{{ url_for('static', filename='img/sap.png') }}"
          alt="SAP"
          class="w-full h-48 object-cover rounded-md mb-4"
          width="300"
          height="200"
          style="aspect-ratio: 300 / 200; object-fit: cover;"
        />
        <h2 class="text-xl font-semibold">Para SAP</h2>
      </div>

      <!-- Agrega más secciones según sea necesario -->
    </div>
  </div>
</div>
