body {
  position: relative;
  min-height: 100vh; /* Al menos el 100% de la altura de la ventana visible */
  margin: 0;
  padding: 0;
  
}

.content {
  /* Estilo para tu contenido, como márgenes o espaciado */
  padding: 20px;
}

.footer {
  position: relative;
  bottom: 0;
  
  
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* para cambiar de color toda la pagina  */
/* Estilos para el modo día */
.day-mode {
  background: linear-gradient(to right, #639F09, #0D1403);
  color: #000; /* Texto negro */
}

/* Estilos para el modo noche */
.night-mode {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
}

/* Modo de día */
.day-mode .title {
  color: #000; /* Color del texto en modo de día */
  /* background-color: #fff; Color de fondo en modo de día */
}

.day-mode .description {
  color: #333; /* Color del texto en modo de día */
}

.day-mode .card {
  background-color: #f0f0f0; /* Color de fondo de la tarjeta en modo de día */
}
.day-mode .creador{
  color: #1b233d
}
.night-mode .creador{
  color: #1b233d;
}

/* Modo de noche */
.night-mode .title {
  color: #fff; /* Color del texto en modo de noche */
  /* background-color: #000; Color de fondo en modo de noche */
}

.night-mode .description {
  color: #ddd; /* Color del texto en modo de noche */
}

.night-mode .card {
  background-color: #333; /* Color de fondo de la tarjeta en modo de noche */
}

/* degradados */
.degradado {
  background: linear-gradient(to bottom, #ffcc00, #ff6600); /* Cambia los colores según tus preferencias */
  color: #fff; /* Asegúrate de que el texto sea legible en el degradado */
}

.degradado-vivo {
  background: linear-gradient(45deg, #212529, #666666, #242222, #090808);
    color: #fff;  /* Asegúrate de que el texto sea legible en el degradado */
}

/* Estilo predeterminado para el texto del menú del dropdown */
.dropdown-menu.text-small a.dropdown-item {
  color: white; /* Color de texto predeterminado */
}

/* Estilo para el texto del menú del dropdown al pasar el cursor */
.dropdown-menu.text-small a.dropdown-item:hover {
  color: black !important; /* Color de texto al pasar el cursor */
}
.nav-img{
  width: 3em;
}

.head_base{
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  background-image: linear-gradient(to bottom right, #0D0D0D, #262626);
}
.inicio_nav{
  background-color: #94F207 ;
  border-radius: 0.7em;
  margin-left: 1em;
  color: #0D0D0D;
}
/* para el carousel */
@media (max-width: 767.98px) {
  #carouselExampleCaptions {
    margin-top: 5.3em; /* Altura de la barra de navegación */
  }
  .carousel-caption h2 {
      font-size: 1rem; /* Tamaño del texto del título en pantallas pequeñas */
  }
  .carousel-caption h5 {
      font-size: 0.5rem; /* Tamaño del texto del subtítulo en pantallas pequeñas */
  }
}