.gradient-text {
  font-size: 4em;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #02f50b, #08d5f4, #0502c1);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 2s infinite;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}