{% extends "base2.html" %} {% block header %}

<!-- Sección de carrousel con degradado -->
{% include 'datos_inicio/carrousel.html' %}
<!-- fin de sección de carrousel con degradado -->
{% endblock %} {% block principal %}

<!-- inicio sección de introducción - servicios de consultoría -->
{% include 'datos_inicio/servicios.html'%}
<!-- fin de sección de consultoría -->

<!-- inicio - sección expertos en transformación digital -->
{% include 'datos_inicio/expertos.html' %}
<!-- fin de sección de expertos-->
<!-- inicio - sección cursos y programas -->
{% include 'datos_inicio/cursos.html' %}
<!-- fin de sección de  cursos -->
<!-- inicio de planes de desarrollo web -->
{% include 'datos_inicio/planes.html'%}
<!-- fin de planes de desarrollo web -->
<!-- inicio de portafolios  -->
{% include 'datos_inicio/portafolios.html' %}
<!-- fin de portafolios -->
<!-- inicio - sección formulario de contacto -->

<!-- fin -->
<!-- inicio formulario whatsapp -->
{% include 'datos_inicio/whatsapp.html' %}
<!-- fin whatsapp -->

{% endblock %}
