{% extends "base2.html" %} {% block header %}

<!-- Sección de carrousel con degradado -->
{% include 'datos_inicio/carrousel.html' %}
<!-- fin de sección de carrousel con degradado -->
{% endblock %} {% block principal %}
<a href="https://chat.whatsapp.com/FTfJbRzcyEy6dKIbcCbB1r"target="_blank">
  <button
    style="background-color: #25D366; color: white; padding: 10px 20px; border: none; border-radius: 5px;"
  >
    Únete al grupo de WhatsApp
  </button>
</a>
<a href="https://discord.gg/cv66mxJS" target="_blank">
  <button
    style="background-color: #7289DA; color: white; padding: 10px 20px; border: none; border-radius: 5px;"
  >
    Únete al servidor de Discord
  </button>
</a>
<!-- inicio sección de introducción - servicios de consultoría -->
{% include 'datos_inicio/servicios.html'%}
<!-- fin de sección de consultoría -->

<!-- inicio - sección expertos en transformación digital -->
{% include 'datos_inicio/expertos.html' %}
<!-- fin de sección de expertos-->
<!-- inicio - sección cursos y programas -->
{% include 'datos_inicio/cursos.html' %}
<!-- fin de sección de  cursos -->
<!-- inicio de planes de desarrollo web -->
{% include 'datos_inicio/planes.html'%}
<!-- fin de planes de desarrollo web -->
<!-- inicio de portafolios  -->
{% include 'datos_inicio/portafolios.html' %}
<!-- fin de portafolios -->
<!-- inicio - sección formulario de contacto -->

<!-- fin -->
<!-- inicio formulario whatsapp -->
{% include 'datos_inicio/whatsapp.html' %}
<!-- fin whatsapp -->

{% endblock %}
