{% extends "base.html" %} {% block principal %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h1 class="mt-5 title">Iniciar Sesión</h1>
      <form method="POST" class="mt-4">
        <div class="form-group">
          <label for="username">Nombre de Usuario:</label>
          <input placeholder="ingrese su nombre de usuario" type="text" class="form-control" id="username"
            name="username" required />
        </div>
        <div class="form-group">
          <label for="password description">Contraseña:</label>
          <input placeholder="ingrese su contraseña" type="password" class="form-control" id="password" name="password"
            required />
        </div>
        <button type="submit" class="btn btn-primary description my-4">Iniciar Sesión</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}