{% extends "base.html" %} {% block principal %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <img
        src="{{ user.profile_picture }}"
        alt="Imagen de perfil"
        class="img-fluid rounded-circle"
      />
    </div>
    <div class="col-md-8">
      <h1>{{ user.username }}</h1>
      <h3>{{ user.name }}</h3>
      <p>{{ user.description }}</p>
      <a href="{{ url_for('edit_profile') }}" class="btn btn-primary"
        >Editar Perfil</a
      >
    </div>
  </div>
</div>
{% endblock %}
