{% extends "base.html" %} {% block principal %}

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card title">
        <div class="card-body">
          <h1 class="card-title title">Detalle del Video</h1>

          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              class="embed-responsive-item video-iframe"
              src="{{ embed_youtube_url(video.youtube_url) }}"
              frameborder="0"
              allowfullscreen
              width="100%"
              height="305"
            ></iframe>
          </div>
          <h2 class="title">{{ video.title }}</h2>
          <p class="card-text description">{{ video.description }}</p>

          {% if current_user.is_authenticated %} {% if current_user.id ==
          video.user_id %}
          <!-- Mostrar botones de edición y eliminación solo si el usuario es el creador del video -->
          <a href="/edit/{{ video.id }}" class="btn btn-primary mt-3">Editar</a>
          <a href="/delete/{{ video.id }}" class="btn btn-danger mt-3 ml-2"
            >Eliminar</a
          >
          {% else %}
          <!-- Mostrar un mensaje si el usuario no tiene permiso para editar/eliminar -->
          <p class="description">
            No tienes permiso para editar o eliminar este video.
          </p>
          {% endif %} {% else %}
          <!-- Mostrar un mensaje de inicio de sesión si el usuario no ha iniciado sesión -->
          <p class="description">
            Inicia sesión para editar o eliminar este video.
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
